<%= turbo_frame_tag 'email-list' do %>

<h2>Nouvel email</h2>

<%= form_with(model: Email.new, local: true) do |form| %>
  <div class="field">
    <%= form.label :object %>
    <%= form.text_field :object %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit "Créer un email" %>
  </div>
<% end %>

<%= link_to "Retour à la liste des emails", emails_path %>
<% end %>